* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
body {
  padding: 0 0 28px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Header {
  width: 100%;
  height: 100vh;
  background-image: url(../../Assets/images/banner-01.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.banner{
  width: 100%;
  aspect-ratio: 5/3;
  max-height: 30vh;
  object-fit: cover;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  border-bottom: 10px #8f8061 solid;
}

//who we are
.WhoWeAre {
  .Title {
    h2 {
      color: #527670;
      font-size: 45px;
      font-weight: bold;
      border-bottom: 20px solid #527670;
      width: 160px;
      padding: 8px;
    }
  }

  .DESC {
    display: flex;
    flex-direction: column;
    gap: 25px;
    p {
      font-size: 22px;
      font-weight: 400;
      color: #51615f;
    }
  }
}
//who we are media

@media (max-width: 576px) {
  .WhoWeAre {
    .Title {
      h2 {
        font-size: 20px;
        padding: 5px;
        border-bottom: 10px solid #527670;
        width: 80px;
        padding: 6px;
      }
    }

    .DESC {
      p {
        font-size: 20px;
        font-weight: 400;
        color: #51615f;
      }
    }
  }
}



// version

.version {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 4px solid #919191;
  flex-wrap: wrap;
  .version_item {
    display: flex;
    padding: 20px 28px;
    align-items: center;
    gap: 12px;
    .image {
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      flex: 1;
      max-width: 150px;
  
      .img {
        width: 100% ;
        max-height: 150px;
        aspect-ratio: 1/1;
        object-fit: contain;
        min-width: 100px;
        }
    }

    .content {
      h3 {
        color: #1d564d;
        font-size: 25px;
        font-weight: bold;
      }
      P {
        font-size: 20px;
        font-weight: 400;
        color: #717b7b;
      }
    }
  }

  .line {
    border: 3px solid #919191;

    margin: 0;
  }
}

// version media

@media (min-width: 576px) {
  .version {
    .version_item {
      .image {
        padding: 18px 14px;
        .img {
          width: 100% ;
          max-height: 150px;
          aspect-ratio: 1/1; 
          object-fit: contain;
        }
      }
      .content {
        h3 {
          font-size: 18px;
        }
        P {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}




// rate us
.rate-us {
  text-align: center;
  h4 {
    background-color: #b9b9b9;
    padding: 30px 0px;
    font-size: 35px;
    color: #4e716b;
  }
}



// rate us media

@media (max-width: 576px) {
  .rate-us {
    text-align: center;
    h4 {
      background-color: #b9b9b9;
      padding: 15px 0px;
      font-size: 30px;
      color: #4e716b;
    }
  }
}




//features
.features {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  .image {
    text-align: center;
    border: 1px solid #eee;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex: 1;
    max-width: 250px;

    img{
      width: 100% ;
      max-height: 150px;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
    @media (max-width: 576px) {
      padding: 12px 15px;
      .img {
        width: 90px;
      }
    }
    h4 {
      color: #20554b;
      font-weight: bold;
      font-size: 20px;
    }
  }
}


